#!/bin/bash

BARE_PATH=<path-to-bare-repo>.git
REPO_PATH=<path-to-dest>

cd $REPO_PATH
git --git-dir=$BARE_PATH --work-tree=$REPO_PATH checkout -f main
git --git-dir=$BARE_PATH --work-tree=$REPO_PATH submodule update --init --recursive

